<!DOCTYPE html>
<html>
<head>
<title>Triangle or NOT?!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
  <h1>TRIANGLE OR NOT?</h1>

  <p><%= is_triangle.result %></p>

</body>
</html>